.app-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  
  padding: 60px 40px;

  background: linear-gradient(180deg,#eef2ff,#f6f9ff);
}

.container {
    min-height: 90vh;
  width: 2000px;
  max-width: 95%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 25px 55px rgba(16,24,40,0.1);
  border-bottom: 10px solid #5959bb;
}

button {
  background: #4a90e2;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #357ac8;
  transform: scale(1.05);
}

